<div class="my-shadow my-rounded-corner overflow-hidden mb-5">
  <div class="border p-3 d-flex justify-content-around">
    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-outline-secondary"
        [ngClass]="{ active: view === 'grid' }"
        (click)="view = 'grid'"
      >
        Grid
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        [ngClass]="{ active: view === 'list' }"
        (click)="view = 'list'"
      >
        List
      </button>
    </div>

    <div class="d-flex align-items-center">
      <span class="ms-5 me-3 w-10 fs-5 fw-bold">Sort by</span>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-secondary"
          [ngClass]="{ active: sortby === 'default' }"
          (click)="sortby = 'default'; sortByPrice(sortby)"
        >
          Default
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          [ngClass]="{ active: sortby === 'htl' }"
          (click)="sortby = 'htl'; sortByPrice(sortby)"
        >
          Price (High to Low)
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          [ngClass]="{ active: sortby === 'lth' }"
          (click)="sortby = 'lth'; sortByPrice(sortby)"
        >
          Price (Low to High)
        </button>
      </div>
    </div>
  </div>

  <div class="border pt-5 pb-5">
    <div class="my-view" *ngIf="view === 'grid'">
      <div *ngFor="let product of products">
        <app-product [view]="'grid'" [product]="product"></app-product>
      </div>
    </div>

    <div class="my-view list-view" *ngIf="view === 'list'">
      <div class="row mb-3" *ngFor="let product of products">
        <app-product [view]="'list'" [product]="product"></app-product>
      </div>
    </div>
  </div>
</div>
