.image-thumbnails > img {
  width: 17%;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.image-thumbnails > img:hover {
  transform: scale(1.08);
}

.card {
  margin-left: 20px;
}

.answers {
  margin-top: -40px;
}
