<div class="my-container mx-auto">
  <section class="m-3 p-4 my-shadow my-rounded-corner">
    <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">
      Payment Info
    </h4>
    <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
      <tbody>
        <tr>
          <td>Total Items</td>
          <td class="fs-5 fw-bold">{{ usersCart.cartItems.length }}</td>
        </tr>
        <tr>
          <td>Total Price</td>
          <td class="fs-5 fw-bold">
            {{
              usersPaymentInfo.totalAmount
                | currency : "USD" : "symbol" : "1.2-2"
            }}
          </td>
        </tr>
        <tr>
          <td>Shiping Charges</td>
          <td class="fs-5 fw-bold">
            {{
              usersPaymentInfo.shipingCharges
                | currency : "USD" : "symbol" : "1.2-2"
            }}
          </td>
        </tr>
        <tr>
          <td>Discount</td>
          <td class="fs-5 fw-bold text-success">
            {{
              usersPaymentInfo.amountReduced
                | currency : "USD" : "symbol" : "1.2-2"
            }}
          </td>
        </tr>

        <tr>
          <td>Grand Total</td>
          <td class="fs-5 fw-bold text-danger">
            {{
              usersPaymentInfo.amountPaid
                | currency : "USD" : "symbol" : "1.2-2"
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="m-3 p-4 my-shadow my-rounded-corner">
    <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">
      Payment Method
    </h4>
    <div class="d-flex justify-content-center align-items-center">
      <h5 class="me-4">Select Method</h5>
      <select class="form-select w-25" [formControl]="selectedPaymentMethod">
        <option value="0">Open this select menu</option>
        <option
          *ngFor="let paymentMethod of paymentMethods"
          value="{{ paymentMethod.id }}"
        >
          {{ paymentMethod.type }}
          <span *ngIf="paymentMethod.provider !== ''">
            - {{ paymentMethod.provider }}</span
          >
        </option>
      </select>
    </div>
  </section>

  <section class="m-3 p-4 my-shadow my-rounded-corner">
    <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">
      Proceed to Payments
    </h4>
    <div class="mt-4 w-50 mx-auto" *ngIf="selectedPaymentMethodName !== ''">
      <table class="table table-bordered my-shadow">
        <thead>
          <tr>
            <td>You have to Pay</td>
            <td>
              <b>
                {{
                  usersPaymentInfo.amountPaid
                    | currency : "USD" : "symbol" : "1.2-2"
                }}</b
              >
            </td>
          </tr>
          <tr>
            <td>Payment Method</td>
            <td>{{ this.getPaymentMethod(selectedPaymentMethodName) }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td *ngIf="true">
              {{ address }}
              <a routerLink="/account-settings">Change</a>
            </td>
            <td *ngIf="!true">
              You have not entered your address yet.
              <a routerLink="/account-settings">Please Enter that.</a>
            </td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td *ngIf="true">
              {{ mobile }} <a routerLink="/account-settings">Change</a>
            </td>
            <td *ngIf="!true">
              You have not entered your mobile number yet.
              <a routerLink="/account-settings">Please Enter that.</a>
            </td>
          </tr>
        </thead>
      </table>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btnorder btn bg-success text-white mb-3 w-50"
          (click)="placeOrder()"
        >
          Proceed to Payment
        </button>
      </div>
      <div class="processing">
        <div
          class="spinner-border text-success"
          role="status"
          *ngIf="displaySpinner"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        <h6 [className]="className">{{ message }}</h6>
      </div>
    </div>
  </section>
  <div *ngIf="!utilityService.isLoggedIn()" class="pt-4">
    <h2 class="text-danger">You have not Logged In</h2>
  </div>
</div>
