<div *ngIf="view === 'grid'">
  <div class="card text-center">
    <nz-card nzHoverable style="width: 270px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="{{ product.title }}"
        nzDescription="{{ product.description }}"
      ></nz-card-meta>
      <div class="d-flex justify-content-center mt-4">
        <h5 class="text-success">
          {{
            utilityService.applyDiscount(product.price, product.offer.discount)
              | currency : "USD" : "symbol" : "1.2-2"
          }}
        </h5>
        <span class="text-danger mt-1 mx-1">
          -{{ product.offer.discount }}%</span
        >
      </div>
      <h6 class="text-muted text-decoration-line-through">
        {{ product.price | currency : "USD" : "symbol" : "1.0-0" }}
      </h6>

      <button class="btn btn-outline-danger" type="button">
        <div class="btn-content">
          <span nz-icon nzType="shopping" nzTheme="outline"></span> Add to Cart
        </div>
      </button>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="photo"
        src="../../assets/images/{{ product.productCategory.subCategory }}/{{
          product.id
        }}/1.jpg"
        OpenDproductsDetails
        [productId]="product.id"
      />
    </ng-template>
  </div>
</div>

<div *ngIf="view === 'list'">
  <nz-card
    nzHoverable
    style="
      width: 45rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: row;
    "
    [nzCover]="coverTemplate"
  >
    <div class="card-content">
      <h4 class="title">{{ product.title }}</h4>
      <h6 class="description text-muted">{{ product.description }}</h6>

      <div class="d-flex justify-content-center">
        <h5 class="text-success">
          {{
            utilityService.applyDiscount(product.price, product.offer.discount)
              | currency : "USD" : "symbol" : "1.2-2"
          }}
        </h5>
        <span class="text-danger mt-1 mx-1">
          -{{ product.offer.discount }}%</span
        >
      </div>
      <h6 class="text-muted text-decoration-line-through">
        {{ product.price | currency : "USD" : "symbol" : "1.0-0" }}
      </h6>
      <button class="btn btn-outline-danger" type="button">
        <div class="btn-content">
          <span nz-icon nzType="shopping" nzTheme="outline"></span> Add to Cart
        </div>
      </button>
    </div>
  </nz-card>
  <ng-template #coverTemplate>
    <img
      class="img-list"
      alt="photo"
      src="../../assets/images/{{ product.productCategory.subCategory }}/{{
        product.id
      }}/1.jpg"
      OpenDproductsDetails
      [productId]="1"
    />
  </ng-template>
</div>

<div *ngIf="view === 'cartItem'">
  <nz-card
    nzHoverable
    style="
      width: 27rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-direction: row;
    "
    [nzCover]="coverTemplate"
  >
    <div
      class="card-content-cart d-flex justify-content-between align-items-start flex-column"
    >
      <h6>Title</h6>
      <h5 class="text-success">Price</h5>
      <button class="btn btn-outline-danger" type="button">
        <div class="btn-content">
          <span nz-icon nzType="shopping" nzTheme="outline"></span> Remove From
          Cart
        </div>
      </button>
    </div>
  </nz-card>
  <ng-template #coverTemplate>
    <img
      class="img-cart"
      alt="photo"
      src="https://specifications-pro.com/wp-content/uploads/2021/08/iPhone-13-2.jpg"
      OpenDproductsDetails
      [productId]="1"
    />
  </ng-template>
</div>

<div *ngIf="view === 'prevCartItem'">
  <div class="card text-centermy-rounded-corner my-shadow">
    <div
      class="overflow-hidden d-flex justify-content-center align-items-center my-shadow"
    >
      <img
        class="img-prev-cart"
        alt="photo"
        src="https://specifications-pro.com/wp-content/uploads/2021/08/iPhone-13-2.jpg"
        OpenDproductsDetails
        [productId]="1"
      />
    </div>
    <div class="card-body">
      <h5 class="title-card title mb-1">Title</h5>
    </div>
  </div>
</div>
