<nz-layout>
  <nz-header class="d-flex justify-content-between align-items-center">
    <span
      class="logo text-light fs-4 fw-bold d-flex align-items-center gap-1"
      routerLink="/home"
    >
      <span nz-icon nzType="shop" nzTheme="outline"></span> My Shop</span
    >

    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group me-3" role="group">
        <button
          type="button"
          class="btn btn-outline-light d-flex align-items-center gap-1"
          routerLink="/home"
        >
          <span nz-icon nzType="home" nzTheme="outline"></span> Home
        </button>
        <div class="btn-group" role="group">
          <button
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="menu"
            type="button"
            class="btn btn-outline-light d-flex align-items-center gap-1"
          >
            Products <span nz-icon nzType="down"></span>
          </button>

          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <ng-container *ngFor="let item of navigationList; let i = index">
                <li class="text-center fw-bold">
                  {{ item.category | titlecase }}
                </li>
                <li
                  nz-menu-item
                  *ngFor="let subcategory of item.subcategories"
                  [style.cursor]="'pointer'"
                  OpenProducts
                  [category]="{
                    id: 0,
                    category: item.category,
                    subcategory: subcategory
                  }"
                >
                  <a class="dropdown-item">
                    {{ subcategory | titlecase }}
                  </a>
                </li>
                <li
                  *ngIf="i !== navigationList.length - 1"
                  nz-menu-divider
                ></li>
              </ng-container>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-light p-0">
          <app-login ></app-login>
        </button>

        <button
          type="button"
          class="btn btn-outline-light d-flex align-items-center gap-1"
        >
          <span nz-icon nzType="user" nzTheme="outline"></span> Account
        </button>
        <button
          type="button"
          class="btn btn-outline-light d-flex align-items-center gap-1"
          routerLink="/cart"
        >
          <span nz-icon nzType="shopping-cart" nzTheme="outline"></span> Cart
        </button>
        <button
          type="button"
          class="btn btn-outline-light d-flex align-items-center gap-1"
          routerLink="/orders"
        >
          <span nz-icon nzType="shopping" nzTheme="outline"></span> Orders
        </button>
        <button
          type="button"
          class="btn btn-outline-light d-flex align-items-center gap-1"
        >
          <span nz-icon nzType="logout" nzTheme="outline"></span> Logout
        </button>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>

    <nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100">
      <ng-template #tpl>
        <div class="ant-back-top-inner">
          <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
        </div>
      </ng-template>
    </nz-back-top>
  </nz-content>
  <nz-footer>Made by Cozonac</nz-footer>
</nz-layout>
