img {
  height: 25rem;
  object-fit: cover;
}
.product-baner{
  position: relative;
}
.product-baner button {
  position: absolute;
  top: 60%;
  left: 20%;

  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
